Source: wazo-asterisk-doc-extractor
Section: utils
Priority: optional
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 9), dh-python, python3-all
Standards-Version: 3.9.6
X-Python-Version: >= 3

Package: wazo-asterisk-doc-extractor
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Documentation Extraction Tool for Asterisk
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
